<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head.ejs') %> 

<body>
    
    <%- include('partials/header.ejs') %> 

    <main>
        <h2 class="text-center"></h2>
        <p>Dirección: </p>
        <p>Teléfono: </p>
        <h3>Nuestros autos</h3>
        <section class="container">
          <div class="row">
            
          </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %> 

    <%- include('partials/scripts.ejs') %> 


</body>
</html>